<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="display-4">My Todo</h1>
      <br>
      <input type="text" [(ngModel)]="itemName" class="rounded-input"> <button (click)="addItem()" class="btn btn-default green-icon"> Add <i
          class="fas fa-plus-circle"></i></button>
      <!--
      <p>{{itemName}}</p>
      -->
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul>
        <li *ngFor="let eachItem of items; let itemIndex = index;"
          [ngClass]="eachItem[1]=='vegetable' ? 'vegetable-class' : 'fruit-class' ">{{eachItem[0]}} <button
            (click)="removeItem(itemIndex)" class="btn btn-default"> <i
              class="far fa-times-circle red-icon"></i></button></li>
      </ul>
    </div>
  </div>
</div>