
.container{
    /*
    background-color: lightgray;
    */
}
.vegetable-class{
    color: green;
}

.fruit-class{
    color: orange;
    font-style: italic;
}

.red-icon{
    color: red;
}

.green-icon{
    color: green;
}

.rounded-input{
    border-radius: 1rem;
}