
.circular-input{
    border-radius: 1rem;
}

.big-button-blue{
    font-size: 200%;
    color: blue;
}

.big-button-green{
    font-size: 200%;
    color: green;
}

.big-button-red{
    font-size: 200%;
    color: red;
}